/*　width */
.w-50 {
  width: 50px !important;
}

.w-60 {
  width: 60px !important;
}

.w-65 {
  width: 65px !important;
}

.w-70 {
  width: 70px !important;
}

.w-75 {
  width: 75px !important;
}

.w-80 {
  width: 80px !important;
}

.w-90 {
  width: 90px !important;
}

.w-100 {
  width: 100px !important;
}

.w-110 {
  width: 110px !important;
}

.w-120 {
  width: 120px !important;
}

.w-130 {
  width: 130px !important;
}

.w-140 {
  width: 140px !important;
}

.w-150 {
  width: 150px !important;
}

.w-160 {
  width: 160px !important;
}

.w-170 {
  width: 170px !important;
}

.w-180 {
  width: 180px !important;
}

.w-190 {
  width: 190px !important;
}

.w-200 {
  width: 200px !important;
}

.w-210 {
  width: 210px !important;
}

.w-220 {
  width: 220px !important;
}

.w-230 {
  width: 230px !important;
}

.w-240 {
  width: 240px !important;
}

.w-250 {
  width: 250px !important;
}

.w-260 {
  width: 260px !important;
}

.w-270 {
  width: 270px !important;
}

.w-280 {
  width: 280px !important;
}

.w-290 {
  width: 290px !important;
}

.w-300 {
  width: 300px !important;
}

.w-310 {
  width: 310px !important;
}

.w-320 {
  width: 320px !important;
}

.w-330 {
  width: 330px !important;
}

.w-340 {
  width: 340px !important;
}

.w-350 {
  width: 350px !important;
}

.w-360 {
  width: 360px !important;
}

.w-370 {
  width: 370px !important;
}

.w-380 {
  width: 380px !important;
}

.w-390 {
  width: 390px !important;
}

.w-400 {
  width: 400px !important;
}

.w-410 {
  width: 410px !important;
}

.w-420 {
  width: 420px !important;
}

.w-430 {
  width: 430px !important;
}

.w-440 {
  width: 440px !important;
}

.w-450 {
  width: 450px !important;
}

.w-460 {
  width: 460px !important;
}

.w-470 {
  width: 470px !important;
}

.w-480 {
  width: 480px !important;
}

.w-490 {
  width: 490px !important;
}

.w-500 {
  width: 500px !important;
}

/*　height */
.h-15 {
  height: 15px !important;
}

.h-20 {
  height: 20px !important;
}

.h-25 {
  height: 25px !important;
}

.h-30 {
  height: 30px !important;
}

.h-35 {
  height: 35px !important;
}

.h-40 {
  height: 40px !important;
}

.h-45 {
  height: 45px !important;
}

.h-50 {
  height: 50px !important;
}

.h-55 {
  height: 55px !important;
}

.h-60 {
  height: 60px !important;
}

.h-70 {
  height: 70px !important;
}

.h-80 {
  height: 80px !important;
}

.h-90 {
  height: 90px !important;
}

.h-100 {
  height: 100px !important;
}

.h-110 {
  height: 110px !important;
}

.h-120 {
  height: 120px !important;
}

.h-130 {
  height: 130px !important;
}

.h-140 {
  height: 140px !important;
}

.h-150 {
  height: 150px !important;
}

.h-160 {
  height: 160px !important;
}

.h-170 {
  height: 170px !important;
}

.h-180 {
  height: 180px !important;
}

.h-190 {
  height: 190px !important;
}

.h-200 {
  height: 200px !important;
}

.m-0-auto {
  margin: 0 auto !important;
}

/* フォントサイズ */
.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-19 {
  font-size: 19px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-21 {
  font-size: 21px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-23 {
  font-size: 23px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-25 {
  font-size: 25px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-27 {
  font-size: 27px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-29 {
  font-size: 29px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-31 {
  font-size: 31px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-33 {
  font-size: 33px !important;
}

.fs-34 {
  font-size: 34px !important;
}

.fs-35 {
  font-size: 35px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.fs-37 {
  font-size: 37px !important;
}

.fs-38 {
  font-size: 38px !important;
}

.fs-39 {
  font-size: 39px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-41 {
  font-size: 41px !important;
}

.fs-42 {
  font-size: 42px !important;
}

.fs-43 {
  font-size: 43px !important;
}

.fs-44 {
  font-size: 44px !important;
}

.fs-45 {
  font-size: 45px !important;
}

.fs-46 {
  font-size: 46px !important;
}

.fs-47 {
  font-size: 47px !important;
}

.fs-48 {
  font-size: 48px !important;
}

.fs-49 {
  font-size: 49px !important;
}

.fs-50 {
  font-size: 50px !important;
}

/* フォントウェイト */
.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

/* ボタンカラー */
.btn-pastel-green {
  background-color: #7fffbf;
  color: #ffffff;
}

.btn-pastel-green:hover {
  background-color: #7fffbf !important;
  border-color: #7fffbf !important;
  color: #ffffff !important;
}

.btn-pastel-yellow {
  background-color: #ffff7f;
  color: #ffffff;
}

.btn-pastel-yellow:hover {
  background-color: #ffff7f !important;
  border-color: #ffff7f !important;
  color: #ffffff !important;
}

.btn-pastel-blue {
  background-color: #7fbfff;
  color: #ffffff;
}

.btn-pastel-blue:hover {
  background-color: #7fbfff !important;
  border-color: #7fbfff !important;
  color: #ffffff !important;
}

.btn-pastel-red {
  background-color: #ff7f7f;
  color: #ffffff;
}

.btn-pastel-red:hover {
  background-color: #ff7f7f !important;
  border-color: #ff7f7f !important;
  color: #ffffff !important;
}

.btn-pastel-purple {
  background-color: #bf7fff;
  color: #ffffff;
}

.btn-pastel-purple:hover {
  background-color: #bf7fff !important;
  border-color: #bf7fff !important;
  color: #ffffff !important;
}

.btn-pastel-orange {
  background-color: #ffbf7f;
  color: #ffffff;
}

.btn-pastel-orange:hover {
  background-color: #ffbf7f !important;
  border-color: #ffbf7f !important;
  color: #ffffff !important;
}